.App {
  display: grid;
  grid-template-columns: 1.48fr 0.52fr;
  grid-template-rows: 1fr;
  gap: 0.5em;

  height: 100%;
  width: 100%;
}

.App:focus-within {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Bookings {
  grid-column: 1;
  grid-row: 1;

  width: 1fr;
  height: 100%;

  overflow-y: hidden;
}

.Bookings:hover {
  overflow-y: overlay;
}

.Settings {
  grid-column: 2;
  grid-row: 1;
  
  width: 1fr;
  height: 100%;

  overflow-y: hidden;
}

.Settings:hover {
  overflow-y: overlay;
}